<div class="container">
  <div class="row">
    <div class="col-sm-6 centered-form">
    <h4>HOWDY {{user.username}}</h4>
    <h5>Your Email = {{user.email}}</h5>
    <img src="{{user.picture}}" alt="profile pic">
    </div>
  </div>
</div>
