<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>
    <img src="https://media.giphy.com/media/jkojXEIwuqp6o/giphy.gif" alt="propane!">
  </body>
</html>
